div#allButtons {
  position: absolute;
  right: 20px;
  bottom: 1em;
  z-index: 49;
  display: flex;
}

div#readingPaneButtons{
  position: relative;
  text-align: right;
}

button.bfm-Button{
  margin-left: 8px;
  opacity: 1 !important;
  background-color: #e0e2e3 !important;
}

div.ui-tooltip{
  font-size: 12px;
  font-weight: bold;
  font-size: 12px;
  box-shadow: 0px 0px 0px #aaaaaa;
  padding: 4px;
}

.v-Page--sidebar {
  background-image: none !important;
}

.v-Compose-section .v-TextInput--standard {
  max-width: 728px;
}

.v-EditNote .v-TextInput--standard {
  max-width: 738px;
}

.v-Page-content
{
  padding-left: 20px;
  padding-right: 20px;
}

.v-Compose.app-contentCard {
  margin-right: 0;
  margin-left: 0;
  min-width: 480px;
  width: 780px;
  max-width: calc(100% - 40px);
}

.app-contentCard:has(.v-EditNote) {
  margin-right: 0;
  margin-left: 0;
  min-width: 480px;
  width: 780px;
  max-width: 100%;
}
